.wrapper {
	width: 100%;
	margin: 0 auto;
	font-family: Circe, sans-serif;
	color: white;
}

.clearfix:after {
	display: block;
	content: '';
	clear: both;
}

.left-column {
	width: 50%;
	float: left;
	text-align: justify;

	
}

.right-column {
	width: 50%;
	float: right;
	text-align: justify;

}

@media (max-width: 650px) {
	.right-column{
		clear:left;
		float: left;
	}
	.first-section {
	background-repeat: no-repeat;
	}

}

.first-section {
	background: url(../img/bg1.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100vh;
	


}

.first-section::after {
	content: '';
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -6px;
	height: 6px;
	background: -webkit-linear-gradient(right, #9dc698, #7da3d6);
}

h1,
h2,
h3,
.uppercase {
	text-transform: uppercase;
	color: white;
}

a,
span
 {
	color: white;
}


.header-left {
	margin-top: 30px;
	margin-left: 10%;
}


.header-right {
	margin-top: 30px;
	margin-right: 10%;
}

.logo,
.exchange,
.percent {
	display: inline-block;
	float: left;
	height: 50px;
	margin-right: 20px;
}

.exchange {
	font-size: 20px;
	padding-top: 26px;
}

.percent {
	height: 27px;
	line-height: 30px;
	color: red;
	font-size: 13px;
	text-align: center;
	background-color: white;
	border-radius: 13px;
	padding: 0 10px;
	margin-top: 18px;
}



nav > ul> li {
	display: inline-block;
	float: right;
	margin: 0 10px;
	
}

.header-right a {
	display: block;
	height: 33px;
	line-height: 33px;
	text-align: center;
	width: 88px;
	border: 2px solid transparent;
	box-sizing: border-box; 
}

.header-right a:hover {
	border: 2px solid  white;
	border-radius: 17px;
	box-sizing: border-box;
}


.content {
	display: block;
	width: 100%;
	position: absolute;
    top: 50%;
    margin-top: -100px;

}

.center {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-size: 34px;
}

.start-earning-button {
	display: inline-block;
	height: 77px;
	width: 380px;
	border-radius: 50px;
	background-color: hsl(99, 32%, 67%);
	color: white;
	line-height: 77px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 23px;
}

.start-earning-button:hover {
	background-color: hsl(99, 32%, 57%)
}

.center h1,
.center p {
	display: block;
	margin-bottom: 60px;

}

.gradient {
	background: linear-gradient(#394560, #475b77 50%, #394560);
}

.second-section {
	position: relative;
	border-bottom: 2px solid #4f647d;
	/*height: 60vh;*/
}

.second-section::before {
	content: " ";
    display: inline-block;
    height: 100%;
    width: 1%;
    vertical-align: middle;
}

.vertical-centering {
	margin-top: 125px;
	margin-left: 130px;
	width: 25vw;
}

.second-section p {
	width: 75%;
	color: #9fa7b5;
	font-size: 13px;
	margin-bottom: 20px;

}


.button {
	display: block;
	color: #9ec796;
	height: 40px;
	width: 164px;
	/* margin: 0 15px; */
	line-height: 40px;
	text-align: center;
	border: 2px solid #9ec796;
	border-radius: 40px;
	font-size: 13px;
	padding-right: 15px;
}


.button  img {
	margin: 10px 15px;
	position: absolute;
}


.image img {
	width: 30vw;
	padding: 70px 0 80px 0;
}


.fourth-section {
	/* height: 45vh; */
	display: block;
	text-align: center;
	border-bottom: 2px solid #4f647d;
}

.inline {
	display: inline-block;
	width: 270px;
	text-align: justify;
	margin-top: 100px;
}

.inline-content {
	text-align: center;
	width: 60%;
}

.inline-content p {
	color: #9fa7b5; 
	padding-bottom: 55px;
}

.inline-content h3 {
	text-transform: uppercase;
}

.fifth-section,
.sixth-section {
	border-bottom: 2px solid #4f647d;
}


.sixth-section p,
.sixth-section a,
.fifth-section p,
.fifth-section a {
	margin-bottom: 70px;
}

.sixth-section p,
.fifth-section p {
	 	color: #9fa7b5;
}

.sixth-section img,
.fifth-section img {
		margin-bottom: 80px;
}

.sixth-section a {
	width: 185px;
}


.inline-last {
	padding: 40px;
}

.inline-left,
.inline-right {
	display: inline-block;
	float: left;

}



.inline-right {
	margin-left: 40px;
}


table, tr, td {
	border: 1px solid #4f647d;
	font-size: 13px;
	line-height: 30px;
	height: 30px;
}



td {
	padding: 0 20px;
}

td:first-child {
	color: #7da3d7;
	width: 210px;
}

td:nth-child(2) {
	color: #9fa3b0;
	width: 130px;
}

td:nth-child(3) {
	color: #61ba84;
	width: 100px;
}

.date {
	display: block;
	color: #9fa7b5;
	line-height: 50px;
}


.seventh-section::after {
	content: '';
	width: 100%;
	position: absolute;
	left: 0;
	height: 6px;
	background:	-webkit-linear-gradient(right, #9dc698, #7da3d6);
}


.background {
	background: url(../img/bg2.png);
	background-size: cover;
	height: 100%;
}	

.background::after {
	content: '';
	width: 100%;
	position: absolute;
	left: 0;
	height: 6px;
	background: -webkit-linear-gradient(right, #9dc698, #7da3d6);
}

.center {
	width: 40vw;
	margin: 0 auto;
	display: block;
	padding-top: 80px;
}
	
form {
	width: 630px;
	height: 550px;
	margin: auto;
	background: white;
	border-radius: 5px;
	border-top: 10px solid transparent;
	border-image: url(../img/ribbon.png) 10 0 0 0 repeat;
	z-index: 2;
	


}

 input,
 textarea  {
	width: 88%;
	text-transform: uppercase;
	color: #b0bcc9;
    line-height: 40px;
    background: #f4f7fb;
    line-height: 40px;
    margin-bottom: 34px;
    border: none;
    padding-left: 2%;
	
}

input[type="submit"] {
	width: 90%;
	background-color: #7da3d7;
	border-radius: 3px;
	color: white;
}

textarea {
	resize: none;
}

legend {
	color: black;
	font-size: 28px;
	font-weight: bold;
	line-height: 117px;
	text-transform: uppercase;
}
	
input {
	height: 40px;
}
	
	
.background-2,
footer {
	background-color: #3a4258;
}

.background-2 {
	height: 480px;
	position: relative;
}
	
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 2px solid #4f647d;
	

}

footer span {
	display: block;
	float: right;
	margin: 20px;
	text-transform: uppercase;
	font-size: 13px;
	
}


footer nav li {
	float: left;
	margin: 20px 20px 0 50px;
	font-size: 13px;
}