.notification-area {
	position: fixed;
	right: 0;
	bottom: 0;
	height: 200px;
	width: 259px;
}

.notification {
	height: 60px;
	width: 230px;
	border-radius: 5px;
	color: white;
	text-align: center;
	line-height: 60px;
	margin: 5px;
}

.notification-success {
	background-color: green;
	
}

.notification-error {
	background-color: red;
}

.notification-info {
	background-color: blue;
}