tr {
	height: 50px;
}

td {
	width: 100px;
   
    border: 10px solid black;
    border-collapse: collapse;
	color: transparent;
	text-align: center;
	line-height: 50px;
}

.yellow {
	background-color: #ffea5e;
}

.blue {
	background-color: #064581;
}

.black {
	background-color: #2a2a2a;
}

.red {
	background-color: #fe6b4c;	
}