body {
	background-color: #090909;
	
}

.wrapper {
	margin: 0 auto;
	width: 960px;
	height: 880px;
	background-image: url(../img/background+palm.png);
	background-repeat: no-repeat;
	
}

.content {

	padding: 0px 65px;
	position: relative;
    height: 100%;
}

header {
	padding-top: 132px;
	padding-bottom: 10px;
	overflow: hidden;
}

.logo {
	float: left;
	
	
}

.logo img {
	display: block;
}

.slogan {
	display: block;
	text-align: center;
	color: #e6e6e6;
	font-family: Tahoma;
	font-size: 10px;
	font-weight: bold;
	line-height: 17px;
	
}


.contact {
	color: #e6e6e6;
	font-family: Tahoma;
	font-size: 8px;
	line-height: 11px;
	float: right;
	margin-right: 25px;
    margin-top: 25px;
}

.contact span {
	font-size: 10px;
	font-weight: bold;

}


main div {
	float: left;
	/*width: 255px;*/
	margin-right: 6px;
	margin-bottom: 50px;
	text-align: center;
}


main  a {
	font-family: Tahoma;
	font-size: 15px;
	color: #e6e6e6;

	
}

main span {
	display: block;
}




.clearfix:after {
	content: '';
	clear: both;
	display: block;

}


footer {

	color: #e6e6e6;
	text-align: center;
	font-family: Tahoma;
	font-size: 10px;
	background: transparent;
	width: 100%;
	position:absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 30px
}



/*[13:36:05] GoIT_Liubomyr Kuzenko: контакти вилазять з хедера (    margin-top: -25px;) забрати
[13:36:32] GoIT_Liubomyr Kuzenko: кароче все погано
[13:36:46] GoIT_Liubomyr Kuzenko: http://html5.by/blog/flexbox/ прочитай
[13:37:39] GoIT_Liubomyr Kuzenko: ul li неправильно
[13:37:46] GoIT_Liubomyr Kuzenko: я б робив через прості діви
з display: inline-block
[13:38:16] GoIT_Liubomyr Kuzenko: margin-top: 42px;
    margin-bottom: 170px;
[13:38:20] GoIT_Liubomyr Kuzenko: ну і це фігня
[13:38:44] GoIT_Liubomyr Kuzenko: це повна фігня. і якшо буде багато блоків то все полізе
*/